@charset "UTF-8";


#aside {
	width: 205px;
	min-height: inherit;
	float: left;
	background: url("../images/bg-aside-title.png") no-repeat;
}

#aside>h1 {
	font-family: 맑은 고딕, 고딕, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: black;
	margin-top: 43px;
}

#aside-customer-menu {
	margin-top: 45px;
}

#aside-customer-menu>h1 {
	color: #ffffff;
	height: 27px;
	line-height: 27px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0.5px 0.5px 1px #000000;
	background: url(../images/bg-aside-sub-title.png) no-repeat 0px 0px;
	box-sizing: border-box;
}

#aside-customer-menu li {
	background: url(../images/bg-aside-menu-hsp.png) repeat-x left bottom;
	height: 26px;
	line-height: 26px;
}

#aside-customer-menu a {
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #808080;
	padding-left: 26px;
	text-decoration: none;
	box-sizing: border-box;
}

#aside-customer-menu a:hover {
	background: url("../images/icon-current.png") no-repeat 15px center;
}

#aside-corperate {
	margin-top: 20px;
}

#aside-corperate>h1 {
	margin: 0px;
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	padding-left: 26px;
	background: url(../images/icon-recommend.png) no-repeat left center;
	box-sizing: border-box;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
}

#aside-corperate ul {
	margin-bottom: 10px;
}